root {
    display: block;
}

.root {
    -fx-background-image: url("bg1.jpg");
    -fx-opacity: 0.8;
}

.button{
	-fx-pref-height: 30px;
	-fx-pref-width: 100px;
}

.gamePane{
	-fx-background-image: url("whitegrid.png");
}